@import url('https://fonts.cdnfonts.com/css/satoshi?styles=135009,135004,135005,135006,135007,135008,135002,135003,135000,135001');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    font-size: 16px;
    font-family: "satoshi", sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

/* header & navbar */
.header-wrapper {
    width: 100%;
    height: 83px;
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    /* background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)); */
}

.logo {
    width: 7.5%;
    height: 30px;
    display: flex;
    align-items: center;
    margin-left: 80px;
    gap: 8px;
}

.logo img {
    width: 24px;
    height: 24px;
}

.logo a {
    width: 76px;
    height: 28px;
    font-size: 1.25rem;
    font-weight: 800;
    color: #FCFCFC;
}


.navBar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navBar a {
    font-size: 0.875rem;
    line-height: 155%;
    color: #FCFCFC;
    padding: 4px 12px;
}

.navBar a:hover {
    color: #18181B;
    transition: 0.4s ease;
}

.contact-btn {
    width: 117px;
    height: 45px;
    font-size: 1rem;
    line-height: 155%;
    margin-right: 80px;
    border-radius: 12px;
    border: none;
    background-color: #FCFCFC;
}

.contact-btn:hover {
    background-color: #18181B;
    color: #FCFCFC;
    transition: 0.4s ease;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            /* Top: semi-transparent black */
            rgba(0, 0, 0, 0.7)
            /* Bottom: darker black */
        ),
        url('../asset/Images/Hero-Image.png') no-repeat center center/cover;
    ;
    width: 100%;
    height: 1024px;
    position: relative;
}

.hero-content {
    width: 68.75%;
    height: 228px;
    color: #ffffff;
    text-align: left;
    position: absolute;
    left: 78px;
    right: 372px;
    bottom: 68px;
    z-index: 1;
    /* Ensure text is above hero image */
}

.hero-content h1 {
    font-size: 6.5rem;
    font-weight: 400;
    line-height: 110%;

}

.scroll-down-btn {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 1px solid #ffff;
    top: 136px;
    right: 8px;
    bottom: 12px;
    position: absolute;
}

.scroll-down-btn .down {
    width: 32px;
    height: 32px;
    top: 30%;
    left: 30%;
    position: absolute;
    align-content: center;
}

.scroll-down-btn .down:hover{
    cursor: pointer;
}

/* right-side image gallery section */
.gallery {
    width: 212px;
    height: 460px;
    position: absolute;
    right: 60px;
    top: 508px;
    bottom: 56px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 12px;
    background-color: #FFFFFF10;
    backdrop-filter: blur(15px);

}

.gallery-img-1 {
    width: 196px;
    height: 140px;
    border: none;
    margin-bottom: 12px;
    border-radius: 12px;
}

.gallery-img-1 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.gallery-img-1:hover {
    border: 1px solid #ffffff;
    filter: grayscale(100%);
}

.gallery-img-2 {
    width: 196px;
    height: 140px;
    border: none;
    margin-bottom: 12px;
    border-radius: 12px;
}

.gallery-img-2 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.gallery-img-2:hover {
    border: 1px solid #ffffff;
    filter: grayscale(100%);

}

.gallery-img-3 {
    width: 196px;
    height: 140px;
    border: none;
    border-radius: 12px;
}

.gallery-img-3 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.gallery-img-3:hover {
    border: 1px solid #ffffff;
    filter: grayscale(100%);
}

/* about-us-container */

.about-us-container {
    width: 100%;
    height: 1183px;
    /* border: 1px solid; */
}

/* content-1 starts */
.content-1 {
    width: 88.889%;
    height: 341px;
    margin: 80px auto;
    display: flex;
    gap: 123px;
    /* border: 1px solid; */
}

.content-1 p {
    font-size: 1.25rem;
    line-height: 155%;
    color: #70707B;
}


.cntnt-heading {
    width: 38.516%;
    height: 263px;
    /* border: 1px solid; */
}

.cntnt-heading h2 {
    width: 100%;
    height: 186px;
    line-height: 120%;
    letter-spacing: -2%;
    font-size: 3.25rem;
    font-weight: 400;
}

.learnMore-btn {
    width: 128px;
    height: 45px;
    border: none;
    border-radius: 12px;
    margin-top: 32px;
}

/* .learnMore-btn button {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 155%;
    padding: 10px 18px;
    border: 1px solid #cacaca;
    border-radius: 12px;
    color: #ffffff;
    background-color: #18181B;
} */

/* .learnMore-btn button:hover {
    cursor: pointer;
    color: #18181B;
    background-color: #ffffff;
} */

.learnMore-btn button{
    width: 100%;
    height: 100%;
    font-size: 1rem;
    line-height: 155%;
    padding: 10px 18px;
    border-radius: 12px;
    color: #ffffff;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 20px #eee;
    border: none;
    display: block;
    background-image: linear-gradient(to right, #000000 0%, #504f4f  51%, #000000  100%)
}

.learnMore-btn button:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.para-1 {
    width: 51.719%;
    height: 341px;
}

/* content-1 ends */

/* content-2 starts */

.content-2 {
    width: 88.889%;
    height: 626px;
    margin: 56px auto;
    position: relative;
    /* border: 1px solid; */
}

.content-2 h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 120%;
    color: #18181B;
}

.content-2 p {
    font-size: 1rem;
    line-height: 155%;
    color: #70707B;
}

.expert-team-cntnt {
    width: 24.688%;
    height: 401px;

}

.content-photo-1 {
    width: 100%;
    height: 290px;
    border-radius: 12px;
}

.content-photo-1 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.photo-1-details {
    width: 100%;
    height: 87px;
}

.expert-team-heading {
    width: 100%;
    height: 29px;
    margin-top: 24px;
}

.expert-tm-para {
    width: 100%;
    height: 50px;
    margin-top: 8px;
}

.innovative-dsgn-cntnt {
    width: 31.407%;
    height: 451px;
    position: absolute;
    top: 169px;
    bottom: 6px;
    left: 27.188%;
}

.content-photo-2 {
    width: 100%;
    height: 340px;
    border-radius: 12px;
}

.content-photo-2 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.photo-2-details {
    width: 100%;
    height: 87px;
}

.innovative-heading {
    width: 100%;
    height: 29px;
    margin-top: 24px;
}

.innovative-para {
    width: 100%;
    height: 50px;
    margin-top: 8px;
}

.client-cntnt {
    width: 38.907%;
    height: 510.88px;
    position: absolute;
    right: 0;
    bottom: 115.12px;
}

.content-photo-3 {
    width: 100%;
    height: 399.88px;
    border-radius: 12px;
}

.content-photo-3 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.photo-3-details {
    width: 100%;
    height: 87px;
    margin-top: 24px;
}

.client-heading {
    width: 100%;
    height: 29px;
}

.client-para {
    width: 100%;
    height: 50px;
    margin-top: 8px;
}

/* content-2 ends */

/* property-container starts */

.property-container {
    width: 100%;
    height: 1859px;
    /* border: 1px solid; */
}

.property-listing{
    width: 88.889%;
    height: 93px;
    margin: 80px auto;
    display: flex;
    gap: 200px;
    /* border: 1px solid; */
}

.property-list-heading{
    width: 39.61%;
    height: 62px;
    margin: 15.5px 0px 15.5px 0;
    /* border: 1px solid; */
}

.property-listing h2{
    font-size: 3.25rem;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -2%;
    color: #18181B;
}

.property-list-para{
    width: 44.766%;
    height: 93px;
    /* border: 1px solid; */
}

.property-list-para p{
    font-size: 1.25rem;
    line-height: 155%;
    color: #70707B;
}

/* property cards container */

.container {
    width: 88.889%;
    height: 1449px;
    margin: auto;
    padding-bottom: 80px;
    /* border: 1px solid; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
    grid-template-rows: repeat(3, 467px);
    gap: 24px;

}

.box {
    position: relative;
    /* border: 1px solid; */
}

.Card-1 {
    width: 100%;
    height: 339px;
    border-radius: 12px;
    /* border: 1px solid; */
}

.Card-1 img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.CardDetails {
    width: 100%;
    height: 112px;
    margin-top: 16px;
}

.PropertyInfo {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-addrs {
    height: 100%;
}

.heading-addrs h3 {
    margin-bottom: 4px;
}

.address {
    display: flex;
    gap: 1px 8px;
}

.address div {
    width: 20px;
    height: 20px;
}

.address div img {
    width: 100%;
    height: 100%;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
}

.PropertyDetails {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.PropertyDetails img {
    width: 20px;
    height: 19px;
}

.item {
    display: flex;
    align-items: center;
    gap: 8px;
    /* border: 1px solid; */
}

.line {
    width: 2px;
    height: 12px;
    background-color: #E4E4E7;
}

